/* colors */
/* #FFFFFF - bootstrap primary blue */
/* #00A2B6 - bootstrap info blue */ /* rgb(0,162,182) */
/* newest - lighter shade - rgb(0, 172, 192);*/


html, body {
    margin:0;
    padding:0;
    height: 100vh;
    background-color: #F2F2F2;
    /*font-family: 'Helvetica', Arial;*/
}

.page_container {
    width: 100vw;
}

.row {
    display: flex;
    justify-content: space-between;
}
.center {
    text-align: center;
}


/* -------- Header ----------- */

.header_container {
    display: flex;
    justify-content: space-between;
    padding: .25rem 3rem .25rem 3rem;
    line-height: 20px;
    /*background-color: #85BBD3;*/
    background-color: rgb(0, 172, 192);
    
    /* clean no color or opacity style */
    /*border-bottom: 1px black solid;*/

}
.header_container h1 {
    font-size: 28px;
    font-weight: 300;
}
.nav_container {
    /*border: 1px black solid;*/
}
.logo {
    text-decoration: none;
    text-shadow: 1px 1px 1px black;
    color: white;
}
.link {
    margin: 0 1rem;
    padding: .5rem 1rem;
    text-decoration: none;
    /*
    color: #00A2B6;
    border: 1px #00A2B6 solid;
    */
    /*
    color: rgb(0, 172, 192);
    border: 1px rgb(0, 172, 192) solid;
    */
    /*
    color: rgb(0, 172, 192);
    border: 2px white solid;
    border-radius: 20px;
    background-color: white;
    */
    color: white;
    text-shadow: 1px 1px 1px black;
}
.link:hover {
    cursor: pointer;
}
@media (max-width: 550px) {
    .header_container {
        line-height: 20px;
        padding: 1rem;
    }
    .header_container h1 {
        padding: 0;
        margin: 0;
        font-size: 20px;
    }
    .nav_container {
        padding: 0;
        margin: 0;
    }
    .link_signUp {
        display: none;
    }
}



/* -------- Footer -------- */

.footer {
    padding: 2rem 0;
    width: 100%;
    text-align: center;
    color: white;
    background-color: #222222;
}



/* -------- Home Page -------- */

.home_page_container {
    /*margin-bottom: 2rem;*/
    padding: 0 2rem 2rem 2rem;
    display: flex;
    justify-content: center;
    /*justify-content: space-between;*/
    height: 85vh;
    /*height: 1000px;*/
    background-color: #F2F2F2;
    box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.4);
}
.boxes_container {
    margin-top: 4rem;
    width: 70%;
}
.box {
    width: 40%;
    height: 300px;
    line-height: 300px;
    text-align: center;
    text-decoration: none;
    background-color: white;
    box-shadow: 3px 3px 6px gray;
    background-color: rgb(0, 172, 192);

}
.box:hover {
    cursor: pointer;
    /*box-shadow: 1px 1px 2px gray;*/
    background-color: rgb(0, 192, 212);

}
.box span {
    font-size: 30px;
    color: white;
    text-shadow: 1px 1px 1px black !important;

}
@media (max-width: 525px) {
    
}






/* -------- Form  --------*/

.form_page_container {
    padding-top: 4rem;
    padding-bottom: 10rem;
    display: flex;
    justify-content: center;
    background-color: #F2F2F2;
    box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.4);
}
.new_form_page_container {
    padding-top: 4rem;
    padding-bottom: 10rem;
    display: flex;
    background-color: #F2F2F2;
    box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.4);
}
.column_one {
    width: 25%;
    text-align: right;
}
.column_two {
    width: 70%;
    display: flex;
    justify-content: center;
}
.column_three {
    width: 5%;
}
.column_one button {
    font-size: 16px;
    padding: 1rem 1rem;
    margin: 0 0 1rem 0;
    width: auto;
    text-align: center;
    text-decoration: none;
    border: none;
    color: white;
    background-color: rgb(0, 172, 192);
    text-shadow: 1px 1px 1px black;
    box-shadow: 2px 2px 4px gray;
    border-radius: 5px;
}
.column_one button:hover {
    cursor: pointer;
    background-color: rgb(0, 192, 212);
}
.form_container {
    padding: 1rem 1rem 0 1rem;
    width: 400px;
    background-color: white;
    box-shadow: 0 0 3px gray;
}
.form_container h2 {
    text-align: center;
    font-weight: 400;
}
.form {
    display: flex;
    justify-content: center;
}
.form_inputs_container {
    margin-top: 1rem;
}

.form_inputs_container label {
    font-size: 12px;
    /*font-family: Garamond;*/
    /*font-family: Helvetica, Arial;*/
}
.form_inputs_container input, textarea{
    padding: .5rem .25rem;
    margin: 0 0 2rem 0;
    width: 300px;
    font-size: 16px;
    font-weight: 200;
}
.form_inputs_container select {
    margin-bottom: 2rem;
}
.form_button_container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.form_button_container button {
    padding: .75rem;
    font-size: 16px;
    width: 200px;
    /*background-color: #8B008B;*/
    /*background-color: #9932CC;*/
    background-color: rgb(0, 172, 192);
    text-shadow: 1px 1px 1px black;
    color: white;
    /*box-shadow: 1px 1px 4px gray;*/
    border: none;
}
.form_button_container button:hover {
    cursor: pointer;
}
.form_inputs_container p {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 12px;
    text-align: center;
}
@media (max-width: 600px) {
    .form_container {
        width: 75%;
        padding: 0;
    }
    .form_inputs_container input, textarea {
        width: 95%;
    }
}
@media (max-width: 400px) {
    .form_inputs_container input, textarea {
        width: 90%;
        border: 1px lightgray solid;
    }
}















/* ---- Teacher Experience ---- */

.dashboard_container {
    display: flex;
    justify-content: center;
    /*text-align: left;*/
    padding: 2rem 2rem 2rem 2rem;
    /*height: 78vh;*/
    height: auto;
    /*background-color: #F2F2F2;*/
    box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.4); 
}
.teacher_dashboard {
    width: 70%;
}
.link_container {
    display: flex;
    justify-content: left;
}
.td_link {
    text-decoration: none;
    font-size: 20px;
}
.td_button {
    padding: 1rem 2rem;
    margin: 0 0 2rem 0;
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: Arial;
    text-shadow: 1px 1px 2px black;
    background-color: rgb(0, 172, 192);
    box-shadow: 2px 2px 4px gray;
    border-radius: 5px;
}
.td_button:hover {
    cursor: pointer;
    background-color: rgb(0, 192, 212);
}

.my_quizzes_container {
    padding: 1rem .5rem .5rem .5rem;
    border-radius: 20px;    
    /*background-color: rgb(0,162,182);*/
    background-color: rgb(0, 162, 182);
    /*background-color: rgb(100, 192, 212);*/
    box-shadow: 2px 2px 4px gray;
}
.my_quizzes_container h2 {
    padding: 0;
    margin: 0 0 1rem 1rem;
    color: white;
    font-family: Verdana, Arial;
    text-shadow: 1px 1px 2px black;
}
.teacher_text {
    padding: 0;
    margin: 0 0 1rem 1rem;
    color: white;
    text-shadow: 1px 1px 2px black;
}
.quiz_list {
    background-color: white;
    border: 1px lightgray solid;
    border-radius: 20px;
}
.quiz_list_header {
    display: flex;
    padding: 1rem 2rem;
    border-bottom: 1px lightgray solid;
}
.quiz_list_item {
    display: flex;
    padding: 1rem 2rem;
}
.quiz_list_item:hover {
    cursor: pointer;
    /*background-color: lightgray;*/
    /*text-decoration: underline;*/
    color: lightgray;
}
.row1 {
    width: 60%;
}
.row2 {
    width: 20%;
    text-align: center;
}
.row3 {
    width: 20%;
    text-align: center;
}


/* ---- Question Component ---- */

.question_container {
    margin: 2rem 0 3rem 0;
}
.question_container input {
    margin: 0 0 1rem 0;
}
.question_container select {
    margin: 0 0 1rem 0;
}




/* ---- View Quiz ---- */

.view_quiz_page_container {
    padding-top: 2rem;
    padding-bottom: 10rem;
    display: flex;
    justify-content: center;
    background-color: #F2F2F2;
    box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.4);
}
.view_quiz_top_row {
    display: flex;
    justify-content: left;
    margin-bottom: 1rem;
}
.view_quiz_2 {
    display: flex;
    justify-content: center;
}

.back_button {
    font-size: 16px;
    padding: 1rem 1rem;
    width: auto;
    text-align: center;
    text-decoration: none;
    border: none;
    color: white;
    background-color: rgb(0, 172, 192);
    text-shadow: 1px 1px 1px black;
    box-shadow: 2px 2px 4px gray;
    border-radius: 5px;
}
.back_button:hover {
    cursor: pointer;
    background-color: rgb(0, 192, 212);
}
.scores_button {
    font-size: 16px;
    padding: 1rem 1rem;
    margin-left: 1rem;
    width: auto;
    text-align: center;
    text-decoration: none;
    border: none;
    color: white;
    background-color: rgb(0, 172, 192);
    text-shadow: 1px 1px 1px black;
    box-shadow: 2px 2px 4px gray;
    border-radius: 5px;
}
.scores_button:hover {
    cursor: pointer;
    background-color: rgb(0, 192, 212);
}
.scores_button:focus {
    outline: none;
}


.view_quiz_form_container {
    /*padding: 0 1rem;*/
    /*width: 400px;*/
    /*width: 100%;*/
    width: 700px;
    background-color: white;
    box-shadow: 0 0 3px gray;
}
.view_quiz_form_container h2 {
    text-align: center;
    font-weight: 400;
}
.view_form {
    display: flex;
    justify-content: center;
}
.view_quiz_form_inputs_container {
    /*margin: 1rem 0 2rem;*/
    width: 80%;
}

.question_top_row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.question_top_row p {
    margin: 0 1rem 0 0 !important;
    /*font-size: 16px !important;*/
}
.view_question {
    font-size: 20px !important;
    text-align: left !important;
}
.edit_button {
    padding-top: .25rem;
    color: red;
    font-family: Helvetica, Arial;
    font-size: 14px !important;
    /*text-shadow: 1px 1px 1px black;*/
}.edit_button:hover {
    text-decoration: underline;
    cursor: pointer;
}
.question_bottom_row {
    margin-top: 1rem;
}








/* ---- Student Experience ---- */

.student_form_inputs_container {
    margin: 1rem 0 2rem;
    width: 80%;
}
.student_form_inputs_container label {
    font-size: 12px;
}
.student_form_inputs_container input, textarea{
    padding: .5rem .25rem;
    margin: 0 0 2rem 0;
    width: 300px;
    font-size: 16px;
    font-weight: 200;
}
.student_form_inputs_container select {
    margin-bottom: 2rem;
}
.student_form_inputs_container p {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 12px;
    text-align: center;
}
@media (max-width: 600px) {
    .student_form_inputs_container input, textarea {
        width: 95%;
    }
}
@media (max-width: 400px) {
    .student_form_inputs_container input, textarea {
        width: 90%;
        border: 1px lightgray solid;
    }
}
.quiz_list_item_container {
    margin: 1rem 0;
    padding: 1rem 0;
    width: 100%;
    text-align: center;
    border: 1px gray solid;
    border-radius: 5px;
    box-shadow: 1px 1px 2px lightgray;
}
.quiz_list_item_container:hover {
    cursor: pointer;
    box-shadow: 2px 2px 4px lightgray;
}
.student_question {
    text-align: center;
}
.student_results {
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    margin: 4rem 0 6rem;
}







/* ---- Uniform Style ---- */


.teacher_view_container {
    display: flex;
    justify-content: center;
    padding: 2rem 2rem 2rem 2rem;
    height: 78vh;
    background-color: #F2F2F2;
    box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.4); 
}
.teacher_view {
    width: 70%;
}
.link_container {
    display: flex;
    justify-content: left;
}
.blue_button_link {
    text-decoration: none;
    font-size: 20px;
}
.blue_button {
    padding: 1rem 2rem;
    margin: 0 0 2rem 0;
    text-align: center;
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 2px black;
    background-color: rgb(0, 172, 192);
    box-shadow: 2px 2px 4px gray;
    border-radius: 5px;
}
.blue_button:hover {
    cursor: pointer;
    background-color: rgb(0, 192, 212);
}

.component_container {
    padding: 1rem .5rem .5rem .5rem;
    border-radius: 20px;    
    background-color: rgb(0, 162, 182);
    box-shadow: 2px 2px 4px gray;
}
.component_container h2 {
    padding: 0;
    margin: 0 0 1rem 1rem;
    color: white;
    text-shadow: 1px 1px 2px black;
}






/* ---- Table ---- */

/*

.quiz_list {
    background-color: white;
    border: 1px lightgray solid;
    border-radius: 20px;
}
.quiz_list_header {
    display: flex;
    padding: 1rem 2rem;
    border-bottom: 1px lightgray solid;
}

.row1 {
    width: 60%;
}
.row2 {
    width: 20%;
    text-align: center;
}
.row3 {
    width: 20%;
    text-align: center;
}

.quiz_list_item {
    display: flex;
    padding: 1rem 2rem;
}
.quiz_list_item:hover {
    cursor: pointer;
    color: lightgray;
}
*/

.scores_row1 {
    width: 20%;
}
.scores_row2 {
    width: 20%;
    text-align: left;
}
.scores_row3 {
    width: 60%;
    text-align: center;
}
.scores_list_item {
    display: flex;
    padding: .5rem 2rem;
}
.scores_list_item:hover {
    cursor: pointer;
    color: lightgray;
}

.edit_container {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}
.edit_button_container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
.edit_save_button {
    /*padding: .5rem 1rem;*/
    padding: .75rem;
    font-size: 16px;
    width: 200px;
    color: white;
    /*font-size: 20px;*/
    text-shadow: 1px 1px 1px black;
    background-color: rgb(0, 172, 192);
    border: none;
}
.edit_save_button:hover {
    cursor: pointer;
}


.create_container {
    display: flex;
    justify-content: center;
    
}
 